		<nav class="navbar navbar-expand-sm navbar-default">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/home"><img src="../images/gif-gnp.gif" width="40%" alt="Logo"></a>
                <a class="navbar-brand hidden" href="/home"><img src="../images/GNP.png" width="99%" alt="Logo"></a>
            </div>
            <!-- call menu bd -->
            <div id="main-menu" class="main-menu collapse navbar-collapse"></div>
        </nav>