<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kardex Templete</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="../apple-icon.png">
    <link rel="shortcut icon" href="../favicon.ico">

    <link rel="stylesheet" href="../assets/css/normalize.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/themify-icons.css">
    <link rel="stylesheet" href="../assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="../assets/css/cs-skin-elastic.css">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="../assets/scss/style.css">
    
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
</head>
<body>
	
	<!-- Left Panel -->
    <aside id="left-panel" class="left-panel"></aside>
    <!-- Left Panel -->

    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">

        <!-- Header init-->
        <header id="header" class="header"></header>
        <!-- Header end -->
        
        <!-- .content init -->
        <div class="content mt-3">
        	<div class="card">
        	<!-- ###### Messages for user, do not remove ###### -->
	            <div class="card-header">
					<h3 class="title-edit">Ver - Calendario</h3>
				</div>
	            <div class="col-sm-12">
	                <div class="alert alert-dismissible fade show" role="alert" style="display: none; margin-top: 10px" id="div-message">
	                  <div id="message-content"></div>
	                </div>
	            </div>
	            <!-- HTML BODY init -->

				<div class="animated fadeIn">
					<div class="row form-group">
						<div class="col" style="height: 80vh; overflow: auto;">
							<table class="table table-striped">
								<tr>
									<th>Dia</th>
									<th>Tarea</th>
									<th>Comentarios</th>
								</tr>
								<tr>
									<th colspan="3"
										style="background-color: #9eafae; text-align: center;">Enero</th>
								</tr>
								<tr>
									<td>2</td>
									<td>Fiesta año nuevo</td>
									<td>Hacer los preparativos para la fiesta</td>
								</tr>
								<tr>
									<td>7</td>
									<td>Preparar regalos</td>
									<td>Dar los regalos de dia de reyes</td>
								</tr>
								<tr>
									<td>8</td>
									<td>Junta</td>
									<td>Junta ingenieria</td>
								</tr>
								<tr>
									<td>22</td>
									<td>Ir a Boston</td>
									<td>Junta con Bill</td>
								</tr>
								<tr>
									<td>30</td>
									<td>Junta con los consultores</td>
									<td>Apoyar a consultores</td>
								</tr>
								<tr>
									<th colspan="3"
										style="background-color: #9eafae; text-align: center;">Febrero</th>
								</tr>
								<tr>
									<td>2</td>
									<td>Fiesta año nuevo</td>
									<td>Hacer los preparativos para la fiesta</td>
								</tr>
								<tr>
									<td>7</td>
									<td>Preparar regalos</td>
									<td>Dar los regalos de dia de reyes</td>
								</tr>
								<tr>
									<td>8</td>
									<td>Junta</td>
									<td>Junta ingenieria</td>
								</tr>
								<tr>
									<td>22</td>
									<td>Ir a Boston</td>
									<td>Junta con Bill</td>
								</tr>
								<tr>
									<td>30</td>
									<td>Junta con los consultores</td>
									<td>Apoyar a consultores</td>
								</tr>
								<tr>
									<th colspan="3"
										style="background-color: #9eafae; text-align: center;">Marzo</th>
								</tr>
								<tr>
									<td>2</td>
									<td>Fiesta año nuevo</td>
									<td>Hacer los preparativos para la fiesta</td>
								</tr>
								<tr>
									<td>7</td>
									<td>Preparar regalos</td>
									<td>Dar los regalos de dia de reyes</td>
								</tr>
								<tr>
									<td>8</td>
									<td>Junta</td>
									<td>Junta ingenieria</td>
								</tr>
								<tr>
									<td>22</td>
									<td>Ir a Boston</td>
									<td>Junta con Bill</td>
								</tr>
								<tr>
									<td>30</td>
									<td>Junta con los consultores</td>
									<td>Apoyar a consultores</td>
								</tr>
								<tr>
									<th colspan="3"
										style="background-color: #9eafae; text-align: center;">Abril</th>
								</tr>
								<tr>
									<td>2</td>
									<td>Fiesta año nuevo</td>
									<td>Hacer los preparativos para la fiesta</td>
								</tr>
								<tr>
									<td>7</td>
									<td>Preparar regalos</td>
									<td>Dar los regalos de dia de reyes</td>
								</tr>
								<tr>
									<td>8</td>
									<td>Junta</td>
									<td>Junta ingenieria</td>
								</tr>
								<tr>
									<td>22</td>
									<td>Ir a Boston</td>
									<td>Junta con Bill</td>
								</tr>
								<tr>
									<td>30</td>
									<td>Junta con los consultores</td>
									<td>Apoyar a consultores</td>
								</tr>
								<tr>
									<th colspan="3"
										style="background-color: #9eafae; text-align: center;">Mayo</th>
								</tr>
								<tr>
									<td>2</td>
									<td>Fiesta año nuevo</td>
									<td>Hacer los preparativos para la fiesta</td>
								</tr>
								<tr>
									<td>7</td>
									<td>Preparar regalos</td>
									<td>Dar los regalos de dia de reyes</td>
								</tr>
								<tr>
									<td>8</td>
									<td>Junta</td>
									<td>Junta ingenieria</td>
								</tr>
								<tr>
									<td>22</td>
									<td>Ir a Boston</td>
									<td>Junta con Bill</td>
								</tr>
								<tr>
									<td>30</td>
									<td>Junta con los consultores</td>
									<td>Apoyar a consultores</td>
								</tr>
								<tr>
									<th colspan="3"
										style="background-color: #9eafae; text-align: center;">Junio</th>
								</tr>
								<tr>
									<td>2</td>
									<td>Fiesta año nuevo</td>
									<td>Hacer los preparativos para la fiesta</td>
								</tr>
								<tr>
									<td>7</td>
									<td>Preparar regalos</td>
									<td>Dar los regalos de dia de reyes</td>
								</tr>
								<tr>
									<td>8</td>
									<td>Junta</td>
									<td>Junta ingenieria</td>
								</tr>
								<tr>
									<td>22</td>
									<td>Ir a Boston</td>
									<td>Junta con Bill</td>
								</tr>
								<tr>
									<td>30</td>
									<td>Junta con los consultores</td>
									<td>Apoyar a consultores</td>
								</tr>
								<tr>
									<th colspan="3"
										style="background-color: #9eafae; text-align: center;">Julio</th>
								</tr>
								<tr>
									<td>2</td>
									<td>Fiesta año nuevo</td>
									<td>Hacer los preparativos para la fiesta</td>
								</tr>
								<tr>
									<td>7</td>
									<td>Preparar regalos</td>
									<td>Dar los regalos de dia de reyes</td>
								</tr>
								<tr>
									<td>8</td>
									<td>Junta</td>
									<td>Junta ingenieria</td>
								</tr>
								<tr>
									<td>22</td>
									<td>Ir a Boston</td>
									<td>Junta con Bill</td>
								</tr>
								<tr>
									<td>30</td>
									<td>Junta con los consultores</td>
									<td>Apoyar a consultores</td>
								</tr>
								<tr>
									<th colspan="3"
										style="background-color: #9eafae; text-align: center;">Agosto</th>
								</tr>
								<tr>
									<td>2</td>
									<td>Fiesta año nuevo</td>
									<td>Hacer los preparativos para la fiesta</td>
								</tr>
								<tr>
									<td>7</td>
									<td>Preparar regalos</td>
									<td>Dar los regalos de dia de reyes</td>
								</tr>
								<tr>
									<td>8</td>
									<td>Junta</td>
									<td>Junta ingenieria</td>
								</tr>
								<tr>
									<td>22</td>
									<td>Ir a Boston</td>
									<td>Junta con Bill</td>
								</tr>
								<tr>
									<td>30</td>
									<td>Junta con los consultores</td>
									<td>Apoyar a consultores</td>
								</tr>
								<tr>
									<th colspan="3"
										style="background-color: #9eafae; text-align: center;">Septiembre</th>
								</tr>
								<tr>
									<td>2</td>
									<td>Fiesta año nuevo</td>
									<td>Hacer los preparativos para la fiesta</td>
								</tr>
								<tr>
									<td>7</td>
									<td>Preparar regalos</td>
									<td>Dar los regalos de dia de reyes</td>
								</tr>
								<tr>
									<td>8</td>
									<td>Junta</td>
									<td>Junta ingenieria</td>
								</tr>
								<tr>
									<td>22</td>
									<td>Ir a Boston</td>
									<td>Junta con Bill</td>
								</tr>
								<tr>
									<td>30</td>
									<td>Junta con los consultores</td>
									<td>Apoyar a consultores</td>
								</tr>
								<tr>
									<th colspan="3"
										style="background-color: #9eafae; text-align: center;">Octubre</th>
								</tr>
								<tr>
									<td>2</td>
									<td>Fiesta año nuevo</td>
									<td>Hacer los preparativos para la fiesta</td>
								</tr>
								<tr>
									<td>7</td>
									<td>Preparar regalos</td>
									<td>Dar los regalos de dia de reyes</td>
								</tr>
								<tr>
									<td>8</td>
									<td>Junta</td>
									<td>Junta ingenieria</td>
								</tr>
								<tr>
									<td>22</td>
									<td>Ir a Boston</td>
									<td>Junta con Bill</td>
								</tr>
								<tr>
									<td>30</td>
									<td>Junta con los consultores</td>
									<td>Apoyar a consultores</td>
								</tr>
								<tr>
									<th colspan="3"
										style="background-color: #9eafae; text-align: center;">Noviembre</th>
								</tr>
								<tr>
									<td>2</td>
									<td>Fiesta año nuevo</td>
									<td>Hacer los preparativos para la fiesta</td>
								</tr>
								<tr>
									<td>7</td>
									<td>Preparar regalos</td>
									<td>Dar los regalos de dia de reyes</td>
								</tr>
								<tr>
									<td>8</td>
									<td>Junta</td>
									<td>Junta ingenieria</td>
								</tr>
								<tr>
									<td>22</td>
									<td>Ir a Boston</td>
									<td>Junta con Bill</td>
								</tr>
								<tr>
									<td>30</td>
									<td>Junta con los consultores</td>
									<td>Apoyar a consultores</td>
								</tr>
								<tr>
									<th colspan="3"
										style="background-color: #9eafae; text-align: center;">Diciembre</th>
								</tr>
								<tr>
									<td>2</td>
									<td>Fiesta año nuevo</td>
									<td>Hacer los preparativos para la fiesta</td>
								</tr>
								<tr>
									<td>7</td>
									<td>Preparar regalos</td>
									<td>Dar los regalos de dia de reyes</td>
								</tr>
								<tr>
									<td>8</td>
									<td>Junta</td>
									<td>Junta ingenieria</td>
								</tr>
								<tr>
									<td>22</td>
									<td>Ir a Boston</td>
									<td>Junta con Bill</td>
								</tr>
								<tr>
									<td>30</td>
									<td>Junta con los consultores</td>
									<td>Apoyar a consultores</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div>
					<div class="card">
						<div class="card-header">Registrar evento</div>
						<div class="card-body card-block">
							<form action="" method="post" class="">
								
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-addon">Evento</div>
										<input type="text" id="Evento" name="Evento"
											class="form-control">
										<div class="input-group-addon">
											<i class="fa fa-address-card"></i>
										</div>
									</div>
								</div>
								
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-addon">Asistentes</div>
										<input type="email" id="Asistente" name="Asistente"
											class="form-control">
										<div class="input-group-addon">
											<i class="fa fa-users"></i>
										</div>
									</div>
								</div>
								
								<div class="row form-group">
									<div class="col">
										<select name="select" id="select" class="form-control">
											<option value="0">Prioridad</option>
											<option value="1">Alta</option>
											<option value="2">Media</option>
											<option value="3">Baja</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-addon">Fecha</div>
										<input type="date" id="Fecha" name="Fecha"
											class="form-control">
										<div class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-addon">Comentarios</div>
										<input type="text" id="Comentarios" name="Comentarios"
											class="form-control">
										<div class="input-group-addon">
											<i class="fa fa-comment"></i>
										</div>
									</div>
								</div>
								
								<div class="form-actions form-group">
									<button type="submit" class="btn btn-primary btn-sm">Guardar</button>
								</div>
							</form>
						</div>
					</div>
				</div>

				<!-- HTML BODY end -->
            </div>
        </div> 
        <!-- .content end -->
        
    </div><!-- /#right-panel -->

    <!-- Right Panel -->

    <script src="../assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="../assets/plugins/jquery/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="../assets/js/plugins.js"></script>
    <script src="../assets/js/main.js"></script>
    
    <!-- Controllers -->
    <script src="../assets/js/utils/models.js"></script>
    <script src="../assets/js/career/plan-add.js"></script>
    <script src="../assets/js/utils/commons.js"></script>

</body>
</html>
